:root {
    --primary: #ffffff;
    --secondary: #bab9b9;
    --dark: #000000;
    --blue: rgb(19, 22, 175);
    --border-radius: .3rem;
  }

.header {
    color: var(--primary);
    background-image: linear-gradient(to right, rgb(19, 22, 175), rgb(100, 122, 233) );
    text-align: center;
    padding: 10px 0;
    font-size: 4rem;
    text-shadow: 0 0 10px var(--dark);
    padding: 10px;
    font-weight: bold;
}
*{
  margin: 0;
  padding: 0;
}

html {
height: 100%;

}
body {
  margin: 0;
  padding: 0;
  
} 
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#weathered {
  color: var(--primary);
  background-color: var(--blue);
  padding: 15px;
  box-shadow: 10px 10px var(--dark);
}

#forcast-future .card {
  width: 18rem;
  background-color: var(--secondary);
  color: var(--primary);
  box-shadow: 10px 10px var(--dark);
}